.down-arrow {
  padding: 0;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  animation: pulse 3s infinite;
  &__link {
    color: white;
    opacity: 0.6;
    &:hover {
      opacity: 0.9;
      color: white;
    }
    &:focus {
      outline: none;
    }
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  &:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 1.5rem rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 1.5rem rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
