.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid white;
    border-radius: 60px;
    padding: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouse:before {
    content: "";
    width: 5px;
    height: 8px;
    position: absolute;
    top: 5px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: scroll 2s infinite;
}

@keyframes scroll {
    from {
        opacity: 1;
        top: 5px;
    }
    to {
        opacity: 0;
        top: 25px;
    }
}