.contact-form {
  &__text-header {
    color: $color-primary;
    &-1 {
      animation: moveInLeft 0.5s;
      animation-delay: 0.2s;
    }
    &-2 {
      animation: moveInLeft 0.5s;
      animation-delay: 0.4s;
    }
    &-3 {
      animation: moveInLeft 0.5s;
      animation-delay: 0.6s;
    }
  }
  &__input {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 3px solid $color-primary;
    &:focus,
    &:active {
      border: 3px solid $color-primary;
      outline: none;
    }
  }
  &__textarea {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 3px solid $color-primary;
    &:focus,
    &:active {
      border: 3px solid $color-primary;
      outline: none;
    }
  }
  &__button {
    margin: 1rem 0 1rem 2rem;
    outline: none;
    border-radius: 1rem;
    width: 10rem;
    transition: all 0.2s;
    &:active,
    &:focus {
      outline: none;
      transform: skewY(1.02);
    }
    background-color: black;
  }
}
